{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interting Image</title>
    <link rel="stylesheet" href="{% static 'css/Insert.css' %}">
</head>
<body>
    <center>
        <h1>This is my Image webpage</h1>
        <h2>Welcome to my webpage</h2>
        <img src="{% static 'images/3.jpg' %}" alt="" height="500px" width="500px">
        <img src="{% static 'images/2.jpg' %}" alt="" height="500px" width="500px">
        <img src="{% static 'images/5.jpg' %}" alt="" height="500px" width="500px">
    </center>
</body>
</html>